
  .home-body {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  .posts-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
  }
  
  .post-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  

  .users-container {
    padding: 16px; /* Optional padding for the container */
    width: 30%;
    height: 100%;
  }
  
  .user-card {
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    cursor: pointer;
    width: 100%; /* Ensure it takes full width of the list item */
    margin: 5px;
    display: flex;
  }
  
  .user-card:hover {
    background-color: #f0f0f0;
  }
  
  .user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .user-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #696969;
  }
  
  .user-description {
    font-size: 0.9rem;
    color: gray;
  }
  
  .post-card:hover {
    transform: scale(1.01); /* Slight zoom on hover */
  }