

  <app-header></app-header>
  
  <div class="home-body">
    <div class="posts-container" *ngIf="posts!==[]">
        <mat-card *ngFor="let post of posts" class="post-card" (click)="goToPostDetails(post)">
          <app-post-card
            [title]="post.title"
            [content]="post.content"
            [image]="post.image"
          ></app-post-card>
        </mat-card>
      </div>
      

      <div class="users-container">
        <mat-list class="user-list">
          <h3 mat-subheader>Users</h3>
          <div *ngFor="let user of users">
            <mat-list-item>
              <div class="user-card">
                <img class="user-profile" [src]="user.profileImage" alt="{{ user.name }}" />
                <div class="user-info">
                  <span class="user-name">{{ user.name }}</span>
                  <span class="user-description">{{ user.description }}</span>
                </div>
              </div>
            </mat-list-item>
          </div>
        </mat-list>
      </div>
      

    
  </div>