.post-card-content {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  
  .text-content {
    flex: 1;
  }
  
  .post-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .post-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: rgb(123, 123, 123);
  }
  
  .image-container {
    flex-shrink: 0;
  }
  
  .post-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  